* {
    color: white;
}

body {
    background-image: url("obrazky/pozadi.jpg");
    background-repeat: repeat;
    margin: 0;
}

/*
#pozadi {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

#nadpis-wrapper img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: fill;
    user-select: none;
    z-index: -1;
}
*/

#odkazy {
    width: 100vw;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    position: absolute;
    top: 4.9rem;
    background: #181818FF;
}

#odkazy a {
    color: #FFFF82FF;
    font-weight: bold;
    text-decoration: none;
}

#odkazy a:hover {
    color: #99FF82FF;
}

#uvod #odkazy a:first-child, #lide-ve-vesmiru #odkazy a:nth-child(2), #planety-planetky #odkazy a:nth-child(3), #hvezdy #odkazy a:nth-child(4), #komety #odkazy a:nth-child(5), #cerne-diry #odkazy a:last-child {
    text-decoration: underline;
    color: #00FF82FF;
}

h1 {
    margin: .2rem;
    font-size: 3.5rem;
}

h2 {
    /*color: #1EFB2BFF;*/
    color: #74b0CCFF;
    text-decoration: underline;
    font-size: 2.25rem;
}

h3 {
    font-size: 1.70rem;
    margin-bottom: .5rem;
}

h4, span, p {
    font-size: 1.25rem;
}

h4:not(.pod-navrzenim)::before {
    display: inline;
    content: '- ';
}

h4 {
    margin-bottom: 0;
}

h4 + p {
    margin-top: .1rem;
}

table, td, tr {
    border: 1px solid white;
}

td:first-child {
    width: 7rem;
}

td:nth-child(4) {
    width: 9.5rem;
    text-align: center;
}

td:not(:first-child):not(:nth-child(4)) {
    text-align: right;
}

summary {
    color: orange;
    font-size: 1.5rem;
}

summary:hover {
    cursor: pointer;
}

.navrzeni-veci {
    font-size: 1.3rem;
    color: brown;
    font-style: italic;
}

.pod-navrzenim {
    font-weight: 600;
}

.pod-navrzenim + p {
    padding-left: 2rem;
}

#vypis-zakladnich-rozdilu {
    padding-left: 1rem;
}

.navrzeni-veci + h4 {
    margin-top: 1rem;
}

#nadpis-wrapper {
    width: 100vw;
    background-image: url("obrazky/pozadi2.jpg");
    background-repeat: repeat;
    /*background: linear-gradient(90deg,rgba(0, 0, 0, 1) 0%, rgba(98, 153, 121, 1) 50%, rgba(255, 229, 0, 1) 100%);*/
    position: fixed;
    height: 4.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nadpis-wrapper * {
    /*color: #CC0C2EFF;*/
    color: white;
}

#kapitoly {
    position: fixed;
    top: 6rem;
    left: -.6rem;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 17rem;
}

li ul {
    padding-left: 1.5rem;
}

#kapitoly a {
    color: #C8D631FF;
    text-decoration: none;
}

#text {
    position: fixed;
    top: 6.4rem;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-left: 17rem;
    padding-right: 1rem;
}

#animace {
    width: 90%;
    aspect-ratio: 2/1;
}

#slunce, #zeme {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: #181818FF;
}

#zeme {
    width: 60px;
    height: 60px;
    left: 40%;
    top: 0;
    width: 60px;
}

#slunce img, #zeme img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
